.title {
	text-align: center;
}

body{
	background-color: #f4f4f2;
}

.cell-container {
	justify-content: center;
	display: grid;
	grid-gap: 2px
}

.difficutly {
	justify-content: center;
	display: grid;
	grid-gap: 2px;
	grid-template-columns: 30px 30px);
	grid-template-rows: 10px 10px);
}

.reveal {
	border: 2px solid black;
	background-color: #DCDCDC;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 18pt;
}

.hidden {
	border: 2px solid black;
	background-color: #A9A9A9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.beginner {
	grid-template-columns: repeat(8, 30px);
	grid-template-rows: repeat(8, 30px);
}

.intermediate {
	grid-template-columns: repeat(16, 30px);
	grid-template-rows: repeat(16, 30px);
}

.expert {
	grid-template-columns: repeat(30, 30px);
	grid-template-rows: repeat(16, 30px);
}

.value1 {
	color: blue;
}

.value2 {
	color: green;
}

.value3 {
	color: red;
}

.value4 {
	color: purple;
}
.value5 {
	color: maroon
}

.value6 {
	color: #40E0D0
}

.value7 {
	color: black;
}

.value8 {
	color: grey;
}

.valueX {
	background-color: #c1c1c1;
}
